/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
mark {
 
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(189, 5, 5);
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
li {
  list-style: none;
}

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,
body {
  background-color: #242038;
  height:100vh
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
  
}


.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */

#particles-js {
/* position: fixed; */
}
.header{
  display: flex;
justify-content: center;
align-items: center;
  flex-direction: column;
}
.page{
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
 max-width: 720px;
  margin: auto;
  position: relative;
  top: -650px
}

@media screen and (max-width: 450px) {
  .page {
    top: 0;
  }
}


.profile-img{
width: 280px;
height:280px;
background-image: url("../../imege/profile.png");
background-repeat: no-repeat;
  margin: 0px;
  border-radius: 20%;
object-fit: cover;
  
}
.tools-icon{
width: 80px;
height: 80px;

}

@media screen and (max-width: 450px){
  .tools-icon{
    width: 40px;
    height: 40px;
  } 
  
}




.header__tools{
  width: 40px;
  height: 40px;
  margin-right: 45px;
}

@media screen and (max-width: 450px){
  .header__tools{
    width: 40px;
    height: 40px;
    margin-right: 0px;
  } 
  
}



.header__tools:hover{
  transform: scale(2,2);
  margin-right:  95px;
}


@media screen and (max-width: 450px){
  .header__tools:hover{
    margin-right: 0px;
    
  } 
}

.header__list{
  display: flex;
  flex-direction: row;
  margin-top:40px;
  margin-bottom: 120px;
}


@media screen and (max-width: 450px){
  .header__list{
    margin-bottom: 60px;
  } 
}

.header__title{
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  font-size: x-large;
  color: #FFD700;
  margin-bottom: 25px;
  text-align: center;
  border: 1px solid #ffd9006e ;
  padding: 6px;
margin-top: 50px;
}
.header__title:hover{
  border:0 ;
  transform: scale(2,2);
}

@media screen and (max-width: 450px){
  .header__title:hover{
    transform: none;
  } 
  
}
.main{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__title{
  font-size: 30px;
  color: #FFD700;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px 0px 20px
  ;
}
.card__image{
  width: 300px;
  height: 500px;
  border: 2px  #FFD700 solid;
  box-shadow:  4px 8px #ffd9007d;
object-fit: fill;
}
.cards{
  display: flex;
  flex-direction: row;
flex-wrap: wrap;
}

@media screen and (max-width: 450px) {
  .cards {
    flex-direction:column;
  }
}

.card{ position: relative;
margin: 15px;

}
.card__image:hover{
  opacity: 0.3;
 

}
.social{
  position: absolute;
  left: 52%;
  top: 50%;
  height:60px;
  width: 60px;
  visibility: hidden;
  
  background-repeat: no-repeat;
  background-image: url("../../imege/svg\ \(2\).svg");
  background-position: center;
border-radius: 50%;
border: #242038 solid 1px;
cursor: pointer;
}
.web{
  position: absolute;
  right:56%;
  top: 50%;
  height:60px;
  width: 60px;
  visibility: hidden;
  background-image: url("../../imege/svg\ \(1\).svg");
  background-repeat: no-repeat;
  background-position: center;
border-radius: 50%;
border: #242038 solid 1px;
cursor: pointer;
}
.card:hover > .social{ 
 visibility: visible;
}
.card:hover > .web{ 
 visibility: visible;


}

.main__btn{
  box-sizing: border-box;
  border-radius: 40%;
  padding: 15px;
  border:3px solid #ffd9006e ;
  margin: 20px;
  font-family:'Times New Roman', Times, serif;
  font-size: x-large;
  color: #FFD700;
  background-color:  #242038;
  cursor: pointer;

}
.main__btn:hover{
  border:3px dashed #ffd900 ;
}

.about{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
  border: #037971 4px solid;
  padding-bottom: 250px;
}
.about__text{
  box-sizing: border-box;
  color: #BAF2D8;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;

  padding: 20px;
}
.about__header{
  
  color: #037971;
  font-size: 30px;
  /* border: #BAF2D8 solid 1px; */
  font-family: 'Times New Roman', Times, serif;
  margin: 10px 0px 20px;
  text-align: center;
}


.about__tools-icon{
margin: 25px;
direction:inherit rtl;
  width: 60px;
  height: 60px;

}
  @-webkit-keyframes pulse-grow-on-hover {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      border :none;
    }
  }
  @keyframes pulse-grow-on-hover {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      border: 6px dashed hsl(51, 86%, 55%) ;
    }
  }
  .pulse-grow-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .main__btn:hover, .main__btn:focus, .main__btn:active {
    -webkit-animation-name: pulse-grow-on-hover;
    animation-name: pulse-grow-on-hover;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
